
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dosyalar</title>
</head>
<body>
    <div> 
        Dosyalar aşağıdadır.
    </div>
    <div>
        @Html.ActionLink("PDF Göster","PDFGoster","Home4")
    </div>
    <div>
        @Html.ActionLink("Dosya İndir", "DosyaIndir", "Home4")
    </div>
</body>
</html>
