
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sayfamiz</title>
    @*<script>alert("Merhaba")</script>*@
    @*<script src="~/Home6/Mesaj"></script>*@
    <script src="~/Home6/jsButtonOlayi"></script>
</head>
<body>
    <div> 
        <input type="button" value="Mesaj Ver" onclick="button_click();" />
    </div>
</body>
</html>
